{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1563906267088-b029e7101114?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Register</h1>
            <br>
            {% if error: %}
            <span class="error"><font color="red"><strong>{{ error }}</strong></font></span>
            {% else: %}
              <span class="subheading">Join us to share your musings!</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <form method="POST" action="{{ url_for('register') }}">
          {{ wtf.quick_form(form, novalidate=True, button_map={"Join in": "secondary"}) }}
        </form>
      </div>
    </div>
  </div>

{% include "footer.html" %}
{% endblock %}